<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>DevKor</title>

    <!-- Bootstrap core CSS -->
    <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://bootstrapk.com/examples/justified-nav/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
        <div class="masthead">
            {% if user.is_authenticated %}
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
            <a href="{% url 'signup' %}" class="top-menu">회원가입</a>
            <a href="{% url 'login' %}" class="top-menu">로그인</a>
        {% endif %}
            <h3><a href="/" style="color: #444444">개발동아리 DevKor</a></h3>
            <nav>
                <ul class="nav nav-justified">
                    <li><a href="/">DevKor</a></li>
                    <li><a href="/intro">동아리소개</a></li>
                    <li><a href="/activity">동아리활동</a></li>
                    <li><a href="/portfolio">동아리포트폴리오</a></li>
                    <li><a href="/announce">공지사항</a></li>
                    <li><a href="/study">스터디게시판</a></li>
                    <li><a href="/seminar">세미나자료</a></li>
                    <li><a href="/contact">입단신청 & 문의</a></li>
                </ul>
            </nav>
        </div>

        {% block content %}
        {% endblock %}

        <!-- Site footer -->
        <footer class="footer" style="align-content: center">
            <p>DevKor &copy; TaeBbong, 2019</p>
        </footer>
  </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://bootstrapk.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
