{% extends 'blog/base.html' %}
{% block content %}

    <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Welcome to DevKor!</h1>
          <p class="lead"></p>
          <p class="lead">학과 유일, 최초의 개발 동아리 DevKor입니다.</p>
          <p class="lead">개인 혹은 팀으로 직접 웹/앱 서비스를 기획/개발/구축하며 상상하던 서비스가 만들어지는 것을 경험하세요!</p>
          <p class="lead"> </p>
          <p class="lead"> </p>
        <p><a class="btn btn-primary" style="background-color: #444444; border-color: #444444" href="/portfolio" role="button">DevKor의 다양한 프로젝트 구경하러 가기</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>자율적인 여러 스터디</h2>
          <p>DevKor는 학우분들의 자유로운 공부를 지향합니다. 동아리 활동의 가장 기본이 되는 자율 스터디는 각자 최소 1개 이상 참여하며 이미 열려있는 스터디 중 참여하고 싶은 스터디나, 혹은 본인이 공부하고 싶은 분야를 직접 개설하여 진행해볼 수도 있습니다! 스터디 방식은 전적으로 스터디 진행원들에게 맡깁니다. 지원이 필요하면 언제든 연락하세요:)</p>
          <p><a class="btn btn-primary" style="background-color: #444444; border-color: #444444" href="/study" role="button">스터디 살펴보기 &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>정기적인 기술 세미나</h2>
          <p>스터디가 좁은 분야에 한정된 공부라고 한다면, 정기 세미나는 동아리 구성원 모두가 들을 수 있는 이벤트입니다. 1주~2주에 한번씩 진행되며 주제는 개발/기획 전분야를 다룰 수 있습니다. 누구든 적절한 주제와 충실한 내용만 있으면 정기 세미나를 진행할 수 있습니다. 정기 세미나 진행 신청 및 세미나 자료 확인은 다음 게시판에서 진행해보세요!</p>
          <p><a class="btn btn-primary" style="background-color: #444444; border-color: #444444" href="/seminar" role="button">세미나 살펴보기 &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>다양한 대외 활동 지원</h2>
          <p>학교 안에만 갇혀있으면 답답하지 않나요? 때로는 학교 밖을 벗어나 다양한 사람들을 만나고 경험해보세요! DevKor는 개발과 관련된 수 많은 대외 세미나, 해커톤, 대외 활동 등을 지원합니다. 섣불리 시작하기 두렵다면 이미 그것들을 경험해본 선배들에게 물어보며 자세하게 알아보세요. 자세한 내용은 다음 게시판에서 확인해보세요:)</p>
          <p><a class="btn btn-primary" style="background-color: #444444; border-color: #444444" href="/activity" role="button">활동 살펴보기 &raquo;</a></p>
        </div>
      </div>

{% endblock %}

